
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



body {
  font-family: "Poppins", sans-serif;
  /* display: flex;
  justify-content: center; */
  align-items: center;
  min-height: 100vh;
  background: url('C:\Users\aneef\Work\Coding\Web\AVPS\avps\src\imgs\bg.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.login{
    color: rgb(247, 247, 226);
  }


.wrapper{
    position: relative;
    width: 420px;
    height: 420px;
    border: 1px solid white;
   
    margin: auto;
    margin-top: 10%;
    box-shadow: 5px 5px 5px  rgb(247, 247, 226);
    backdrop-filter: blur(30px);
    background: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;

}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
form h1{
    font-size: 36px;
    text-align: center;
}
form .input-box{
    position: relative;
    border: 1px solid white;
    border-radius: 40px;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.1);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;

}
.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;

}
form button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border: 1px solid  rgb(247, 247, 226);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    
}